/* -------------------------------- 

File#: _1_language-picker
Title: Language Picker
Descr: A custom selector allowing users to choose their preferred language on a page
Usage: codyhouse.co/license

-------------------------------- */
      /* reset */
      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }

      * {
        font: inherit;
        margin: 0;
        padding: 0;
        border: 0;
      }

      body {
        background-color: hsl(0, 0%, 100%);
        font-family: system-ui, sans-serif;
        color: hsl(230, 7%, 23%);
        font-size: 1rem;
      }

      h1,
      h2,
      h3,
      h4 {
        line-height: 1.2;
        color: hsl(230, 13%, 9%);
        font-weight: 700;
      }

      h1 {
        font-size: 2.0736rem;
      }

      h2 {
        font-size: 1.728rem;
      }

      h3 {
        font-size: 1.25rem;
      }

      h4 {
        font-size: 1.2rem;
      }

      ol,
      ul,
      menu {
        list-style: none;
      }

      button,
      input,
      textarea,
      select {
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        line-height: inherit;
        appearance: none;
      }

      textarea {
        resize: vertical;
        overflow: auto;
        vertical-align: top;
      }

      a {
        color: hsl(250, 84%, 54%);
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      img,
      video,
      svg {
        display: block;
        max-width: 100%;
      }

      @media (min-width: 64rem) {
        body {
          font-size: 1.25rem;
        }

        h1 {
          font-size: 3.051rem;
        }

        h2 {
          font-size: 2.44rem;
        }

        h3 {
          font-size: 1.75rem;
        }

        h4 {
          font-size: 1.5625rem;
        }
      }

      /* variables */
      :root {
        /* colors */
        --li4-color-primary-hsl: 250, 84%, 54%;
        --li4-color-bg-hsl: 0, 0%, 100%;
        --li4-color-contrast-high-hsl: 230, 7%, 23%;
        --li4-color-contrast-higher-hsl: 230, 13%, 9%;
        --li4-color-bg-light-hsl: 0, 0%, 100%;
        --li4-color-white-hsl: 0, 0%, 100%;
        --li4-color-bg-dark-hsl: 240, 4%, 95%;
        --li4-color-bg-lighter-hsl: 0, 0%, 100%;
        --li4-color-black-hsl: 230, 13%, 9%;

        /* spacing */
        --li4-space-3xs: 0.25rem;
        --li4-space-2xs: 0.375rem;
        --li4-space-xs: 0.5rem;
        --li4-space-sm: 0.75rem;
      }

      @media (min-width: 64rem) {
        :root {
          /* spacing */
          --li4-space-3xs: 0.375rem;
          --li4-space-2xs: 0.5625rem;
          --li4-space-xs: 0.75rem;
          --li4-space-sm: 1.125rem;
        }
      }

      /* buttons */
      .li4-btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        white-space: nowrap;
        text-decoration: none;
        background: hsl(var(--li4-color-bg-dark-hsl));
        color: hsl(var(--li4-color-contrast-higher-hsl));
        cursor: pointer;
        text-decoration: none;
        line-height: 1.2;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: all 0.2s ease;
        will-change: transform;
        padding: var(--li4-space-2xs) var(--li4-space-sm);
        border-radius: 0.25em;
        margin-left: auto; /* right align the button */
      }

      .li4-btn:focus-visible {
        box-shadow: 0px 0px 0px 2px hsl(var(--li4-color-bg-hsl)),
          0px 0px 0px 4px hsla(var(--li4-color-contrast-higher-hsl), 0.15);
        outline: none;
      }

      .li4-btn:active {
        transform: translateY(2px);
      }

      .li4-btn--subtle {
        background: hsl(var(--li4-color-bg-lighter-hsl));
        color: hsl(var(--li4-color-contrast-higher-hsl));
        box-shadow: inset 0px 1px 0px hsla(var(--li4-color-white-hsl), 0.1),
          0px 0px 0px 1px hsla(var(--li4-color-black-hsl), 0.02),
          0px 1px 3px -1px hsla(var(--li4-color-black-hsl), 0.2),
          0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05),
          0 3.5px 6px rgba(0, 0, 0, 0.1);
      }

      .li4-btn--subtle:hover {
        background: hsl(var(--li4-color-bg-light-hsl));
        box-shadow: inset 0px 1px 0px hsla(var(--li4-color-white-hsl), 0.1),
          0px 0px 0px 1px hsla(var(--li4-color-black-hsl), 0.02),
          0px 1px 3px -1px hsla(var(--li4-color-black-hsl), 0.2),
          0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
      }

      .li4-btn--subtle:focus {
        box-shadow: inset 0px 1px 0px hsla(var(--li4-color-white-hsl), 0.1),
          0px 0px 0px 1px hsla(var(--li4-color-black-hsl), 0.02),
          0px 1px 3px -1px hsla(var(--li4-color-black-hsl), 0.2),
          0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12),
          0px 0px 0px 2px hsl(var(--li4-color-bg-hsl)),
          0px 0px 0px 4px hsl(var(--li4-color-contrast-high-hsl));
      }

      .li4-icon {
        height: var(--li4-size, 1em);
        width: var(--li4-size, 1em);
        display: inline-block;
        color: inherit;
        fill: currentColor;
        line-height: 1;
        flex-shrink: 0;
        max-width: initial;
      }

      /* component */
      :root {
        --picker-vertical-gap: 4px;
      }

      .language-picker {
        display: flex; /* so that the label and control can be justified */
        position: relative;
        align-content: space-between;
        flex-wrap: wrap;
      }

      .language-picker__form {
        display: none;
      }

      .language-picker__button .li4-icon {
        height: 16px;
        width: 16px;
      }
      .language-picker__button .li4-icon:first-of-type {
        margin-right: var(--li4-space-3xs);
      }
      .language-picker__button .li4-icon:last-of-type {
        margin-left: var(--li4-space-3xs);
      }

      .language-picker__dropdown {
        position: absolute;
        left: 0;
        top: 100%;
        width: 200px;
        background-color: hsl(var(--li4-color-bg-light-hsl));
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
          0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08),
          0 14px 25px rgba(0, 0, 0, 0.12);
        padding: var(--li4-space-3xs) 0;
        border-radius: 0.25em;
        z-index: -1; /* hide the dropdown */
        margin-top: var(--picker-vertical-gap);
        margin-bottom: var(--picker-vertical-gap);
        --space-unit: 1rem;
        --text-unit: 1rem;
        font-size: var(--text-unit);
        visibility: hidden;
        opacity: 0;
        transform: translateY(-600px); /* hide the dropdown by moving it up */
      }

      .language-picker__dropdown--right {
        right: 0;
        left: auto;
      }

      .language-picker__dropdown--up {
        bottom: 100%;
        top: auto;
      }

      .language-picker__button[aria-expanded="true"]
        + .language-picker__dropdown {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.2s;
        transform: translateY(0);
        z-index: 5;
      }

      .language-picker__item {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: var(--li4-space-2xs) var(--li4-space-sm);
        color: hsl(var(--li4-color-contrast-high-hsl));
        transition: background 0.2s;
      }
      .language-picker__item span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .language-picker__item:hover {
        background-color: hsla(var(--li4-color-contrast-higher-hsl), 0.075);
      }
      .language-picker__item:focus {
        outline: none;
        background-color: hsla(var(--li4-color-primary-hsl), 0.1);
      }
      .language-picker__item[aria-selected="true"] {
        position: relative;
        background-color: hsl(var(--li4-color-primary-hsl));
        color: hsl(var(--li4-color-white-hsl));
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      .language-picker__item[aria-selected="true"]:focus {
        outline: 2px solid hsla(var(--li4-color-primary-hsl), 0.2);
      }
      .language-picker__item[aria-selected="true"]::after {
        content: "";
        height: 16px;
        width: 16px;
        background-color: currentColor;
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
        margin-left: auto;
      }

      .language-picker__flag {
        display: flex;
        align-items: center;
      }
      .language-picker__flag::before {
        display: none;
        flex-shrink: 0;
        content: "";
        height: 16px;
        width: 16px;
        margin-right: var(--li4-space-2xs);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* round the edges of the flag */
        border-radius: 10%;
        overflow: hidden;
      }
      .language-picker__dropdown .language-picker__flag::before {
        margin-right: var(--li4-space-xs);
      }

      .language-picker--flags .language-picker__flag::before {
        display: inline-block;
        display: inline-flex;
      }
      .language-picker--flags .language-picker__button .li4-icon:first-of-type {
        display: none;
      }
      .language-picker__flag--arabic::before {
        background-image: url("../icons/flags/arab.svg");
      }
      
      .language-picker__flag--bengali::before {
        background-image: url("../icons/flags/bd.svg");
      }
      
      .language-picker__flag--bulgarian::before {
        background-image: url("../icons/flags/bg.svg");
      }
      
      .language-picker__flag--chinese::before {
        background-image: url("../icons/flags/cn.svg");
      }
      
      .language-picker__flag--croatian::before {
        background-image: url("../icons/flags/hr.svg");
      }
      
      .language-picker__flag--czech::before {
        background-image: url("../icons/flags/cz.svg");
      }
      
      .language-picker__flag--danish::before {
        background-image: url("../icons/flags/dk.svg");
      }
      
      .language-picker__flag--deutsch::before {
        background-image: url("../icons/flags/de.svg");
      }
      
      .language-picker__flag--dutch::before {
        background-image: url("../icons/flags/nl.svg");
      }
      
      .language-picker__flag--english::before {
        background-image: url("../icons/flags/us.svg");
      }
      
      .language-picker__flag--espanol::before {
        background-image: url("../icons/flags/es.svg");
      }
      
      .language-picker__flag--filipino::before {
        background-image: url("../icons/flags/ph.svg");
      }
      
      .language-picker__flag--finnish::before {
        background-image: url("../icons/flags/fi.svg");
      }
      
      .language-picker__flag--francais::before {
        background-image: url("../icons/flags/fr.svg");
      }
      
      .language-picker__flag--greek::before {
        background-image: url("../icons/flags/gr.svg");
      }
      
      .language-picker__flag--hindi::before {
        background-image: url("../icons/flags/in.svg");
      }
      
      .language-picker__flag--hungarian::before {
        background-image: url("../icons/flags/hu.svg");
      }
      
      .language-picker__flag--indonesian::before {
        background-image: url("../icons/flags/id.svg");
      }
      
      .language-picker__flag--italiano::before {
        background-image: url("../icons/flags/it.svg");
      }
      
      .language-picker__flag--japanese::before {
        background-image: url("../icons/flags/jp.svg");
      }
      
      .language-picker__flag--korean::before {
        background-image: url("../icons/flags/kr.svg");
      }
      
      .language-picker__flag--malay::before {
        background-image: url("../icons/flags/my.svg");
      }
      
      .language-picker__flag--polish::before {
        background-image: url("../icons/flags/pl.svg");
      }
      
      .language-picker__flag--portuguese::before {
        background-image: url("../icons/flags/br.svg");
      }
      
      .language-picker__flag--romanian::before {
        background-image: url("../icons/flags/ro.svg");
      }
      
      .language-picker__flag--russian::before {
        background-image: url("../icons/flags/ru.svg");
      }
      
      .language-picker__flag--slovak::before {
        background-image: url("../icons/flags/sk.svg");
      }
      
      .language-picker__flag--swedish::before {
        background-image: url("../icons/flags/se.svg");
      }
      
      .language-picker__flag--tamil::before {
        background-image: url("../icons/flags/lk.svg");
      }
      
      .language-picker__flag--turkish::before {
        background-image: url("../icons/flags/tr.svg");
      }
      
      .language-picker__flag--ukrainian::before {
        background-image: url("../icons/flags/ua.svg");
      }
      
      .language-picker__flag--vietnamese::before {
        background-image: url("../icons/flags/vn.svg");
      }
      
      .language-picker__flag--global::before {
        background-image: url("../icons/flags/global.svg");
      }

      .language-picker__flag--system::before {
        background-image: url("../icons/flags/system.svg");
      }

      .language-picker--hide-label .language-picker__button .li4-icon {
        margin-left: 0;
      }
      .language-picker--hide-label
        .language-picker__button
        .li4-icon:first-of-type {
        display: none;
      }
      .language-picker--hide-label .language-picker__button em {
        display: none;
      }
      .language-picker--hide-label
        .language-picker__button
        .language-picker__flag::before {
        margin-right: var(--li4-space-3xs);
      }

      .language-picker--hide-label .language-picker__flag::before {
        display: inline-block;
        display: inline-flex;
      }

      /* utility classes */
      .li4-sr-only {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        width: 1px;
        height: 1px;
        overflow: hidden;
        padding: 0;
        border: 0;
        white-space: nowrap;
      }
