/* Slider */
#sliderValue {
  display: block;
  text-align: center;
}
.icon {
  transition: transform 0.3s ease;
  padding: 0 0.5rem;
}
.icon.active {
  transform: scale(1.5);
}
#preferences #preference-selector {
  padding: 1rem;
  display: block;
}
#language-preference {
  display: block;
}

.beta {
  background-image: url("beta.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  padding-left: 2.5em !important;
}