node_modules
dist/*
certificates/*.pem
_locales_*_messages_json.js
.DS_Store
public/*.js
public/*.js.LICENSE.txt
public/*.js.map
public/*.wasm
src/audio/vad-configs.json
src/audio/capabilities-test.json
.DS_Store
source-code.zip
doc/dom/claude/*
doc/data/*