/**
 * This file contains styles specific to claude.ai,
 * until I can figure out how to make the styles more
 * modular.
 */

html body.claude {
  #saypi-callButton {
    width: 32px;
    height: 32px;
  }

  /* hide Claude's original placeholder when custom placeholder is present and non-empty */
  #saypi-prompt-container:has(+ .custom-placeholder) #saypi-prompt {
    // this selector may not be working?
    p[data-placeholder].is-empty {
      visibility: hidden; // display: none doesn't work, causes it to reappear
    }
  }

  #saypi-prompt p.is-empty.is-editor-empty::before {
    // hide Claude's original placeholder, but somehow keep the caret visible
    // display: none doesn't work, and causes the placeholder to reappear
    // visibility: hidden doesn't work, and causes the caret to disappear
    --tw-text-opacity: 0 !important; // hide the text while keeping the caret visible
  }

  /* shift the custom placeholder up to Claude's standard placeholder position */
  #claude-placeholder {
    margin-top: -24px;
    visibility: visible;
  }

  .tooltip[aria-label]::after {
    font-size: 0.75rem; /* text-xs */
    background-color: hsl(var(--black) / 0.8); /* bg-black/80 */
    top: -130%; /* position the tooltip above the button */
  }

  .message-hover-menu .saypi-tts-controls {
    /* unset pi-specific styles */
    padding: unset;
    margin-top: unset;
    background-color: unset;
    border-radius: unset;

    .tts-item:hover {
      width: 100%;
      height: 100%;
      background-color: hsl(49 26.8% 92% / 1);
      border-radius: 0.375rem;
    }

    button svg,
    img {
      width: 12px;
      height: 12px;
    }
    .saypi-copy-button,
    .saypi-powered-by {
      display: none;
    }
  }

  /* the voice selection menu */
  .saypi-audio-controls {
    justify-content: space-between;
    width: 100%;
    margin-top: unset; // unset the margin-top set by the desktop styles
  }

  #saypi-voice-menu {
    position: relative; // so that menu can be positioned relative to this

    svg.voiced-by {
      height: 11.5px;
      width: 25.4px;
    }
    svg.chevron {
      height: 12px;
      width: 12px;
    }
    .voice-menu-content {
      position: absolute;
      z-index: 1000;
    }
  }
}
