/**
 * This file contains styles specific to claude.ai,
 * until I can figure out how to make the styles more
 * modular.
 */

html body.claude {
    #saypi-callButton {
        width: 38px; /* for an effective width of 32px - idk why */
        height: 32px;
    }

    #saypi-submitButton {
        background-color: #840f7c; /* just for debugging */
    }

    /* hide Claude's original placeholder when custom placeholder is present and non-empty */
    #saypi-prompt:has(+ .custom-placeholder:not(:empty)) p[data-placeholder].is-empty {
        display: none;
    }

    /* reduce the height of the prompt input area, which somehow grew by 24px when we added the custom placeholder
     * and shift the custom placeholder up to Claude's standard placeholder position */
    #saypi-prompt:has(+ .custom-placeholder:not(:empty)) {
        margin-bottom: -24px;
    }
}