

#saypi-callButton.disabled svg path.circle {
  fill: rgb(245 238 223); /* bg-cream-550 */
}

.mobile-device {
  /* maximize (mobile view) button is only displayed on compatible devices */
  .saypi-enter-button,
  .saypi-exit-button {
    width: 3rem;
    height: 3rem;
    padding: 6px;
    border: 0;
    z-index: 60;
    svg path.inner {
      color: rgb(13 60 38); /* text-primary-700 */
    }
  }
}

#saypi-lock-panel {
  /* lock panel is only displayed on mobile devices */
  display: none;
}

@import "progress-ring.scss";
@import "neon.scss";
@import "notifications.scss";