html.desktop-view {
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  #saypi-talkButton {
    /* not needed on desktop with call button */
    display: none;
  }

  #saypi-callButton {
    width: 2.25rem;
    position: relative;
    margin-right: 0;
  }

  .saypi-prompt-container {
    /* make room in the prompt text area for the call button */
    padding-right: 0;
  }

  #saypi-notification > svg {
    width: 3rem;
    height: 3rem;
    bottom: 4rem;
    right: 12rem;
    position: fixed;
  }

  #saypi-exitButton {
    display: none;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }  

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  .saypi-notification-text {
    display: none;
    .active {
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 1rem;
      /* text */
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      text-align: center;
      font-size: xx-large;
      font-family: 'Roboto', 'Open Sans', 'Lato', 'Source Sans Pro', 'Noto Sans', Arial, sans-serif;
      animation-delay: 1s; /* Delay the animation start */
      animation-fill-mode: both; /* Keep the element visible after animation ends */
      animation-timing-function: ease-in-out; /* Use ease-in-out timing function */
      animation-iteration-count: 1; /* Run the animation only once */
      animation-direction: normal; /* Run the animation in the normal direction */
    }
    .inactive {
      animation-name: fadeOut;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-delay: 4s; /* Delay the animation start */
      animation-fill-mode: both; /* Keep the element visible after animation ends */
      animation-timing-function: ease-in-out; /* Use ease-in-out timing function */
      animation-iteration-count: 1; /* Run the animation only once */
      animation-direction: normal; /* Run the animation in the normal direction */
    }
  }
}
