.message-hover-menu {
  display: flex;

  /* If you need specific styling for .create-thread-button, add it here */
  .w-fit.pt-4 {
    // position to the right of its siblings
    margin-left: auto;
  }

  .saypi-tts-controls {
    display: flex;
    align-items: center;
    height: 32px;
    .saypi-speak-button {
      border-radius: 50%;
    }
    .saypi-cost,
    .saypi-powered-by {
      display: flex;
      align-items: center; // center the text vertically
    }
    svg,
    img {
      width: 24px;
      height: 24px;
      path {
        fill: #6b6255; // Pi light brown text color
      }
      display: inline-block;
    }
    .cost-free {
      display: none; // hide the price when it's free
    }
  }

  .tooltip-wide[aria-label]::after {
    top: 120%; // position the tooltip below the charge
    transform: translateX(-35%); // center the tooltip relative to the charge
    white-space: normal; // allow the tooltip to wrap
    min-width: 350px; // set a min width for the tooltip
    max-width: 600px; // set a max width for the tooltip
    text-align: center; // center the text in the tooltip
  }
}

.assistant-message .popup-menu button.saypi-button svg {
  width: 24px;
  height: 24px;
  path {
    fill: #6b6255; // Pi light brown text color
  }
}

.saypi-tts-controls {
  padding: 0 0.25rem;
  margin-top: 1rem;
  background-color: rgb(245 234 220); // bg-neutral-200
  border-radius: 10px;

  .tts-item {
    position: relative;
    overflow: visible;
    margin: 0 0.15rem;
    padding: 0 4px;
  }

  .saypi-cost-container {
    display: flex;
    div.vertical-separator {
      height: 1.5rem;
      border-left: 1px solid;
      margin-right: 0.5rem;
    }
  }
}

/*
 * these styles are for debugging purposes, to make it easier to see when messages are being detected
 *
.assistant-message {
    // give it a subtle green background color and border
    background-color: #f0f9f4; // rgb(240 249 244) - Pi primary background color
    border: 1px solid #d1f0e5; // rgb(209 240 229) - Pi secondary background color
    border-radius: 8px;
    padding: 0.8rem;
}
.assistant-message.speech-enabled {
    border-color:#24381b;
}
.assistant-message .popup-menu {
    background-color: #f0f9f4;
}
.assistant-message .inconsistent-text {
    border-color: #f00;
}
.assistant-message.speech-incomplete {
    border-color: rgb(255, 183, 0);
}
*/

.assistant-message.maintenance-message {
  .content {
    font-style: italic;
    font-size: 0.9em;
    color: #666;
  }

  &.silenced {
    opacity: 0.7;
    cursor: pointer;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;

    .content {
      &:before {
        content: "Saving that thought for later... (click to expand)";
        display: block;
      }
      > * {
        display: none;
      }
    }

    .message-hover-menu {
      display: none;
    }
  }
}
