html.immersive-view {
  #saypi-panel,
  .notification {
    width: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(245, 238, 223, 0.98);

    height: 100svh;
    top: 0;
  }

  #saypi-talkButton {
    background-color: #e9f5da;
    border-radius: 0;
    margin: 0;
    svg {
      width: 100vw;
      height: 100svh;
    }
  }

  /* Pi controls: ellipsis, experiences */
  #__next > main > div > div > div.fixed.top-4.right-6 > button,
  #saypi-experiences-button {
    transform: scale(1.5);
  }

  /* hide an ugly artifact */
  div.bg-gradient-to-b {
    display: none;
  }

  /* Pi controls: mute/unmute */
  #saypi-audio-controls {
    /* align the mute button with the horizontal control panel */
    margin-top: 0.375rem;
    /* hide the voice options */
    div.p-1 {
      display: none;
    }
    /* scale the mute button */
    button.group {
      transform: scale(1.5) !important;
      z-index: 50;
      /* hide the voice selector twisty */
      + button {
        display: none;
      }
    }
    /* make an ugly artifact transparent on pi.ai */
    div.bg-neutral-200 {
      background-color: transparent;
    }
  }

  /* fix an alignment issue with the "new ui layout" */
  .text-body-chat-m {
    padding-top: 0;
  }

  .saypi-enter-button {
    display: none;
  }

  #saypi-prompt-ancestor {
    /* hides the row containing the text area control */
    /* important: hides virtual keyboard on android */
    display: none;
    /* the call button, usually nested in the prompt, is detached while in mobile view */
  }

  #saypi-submitButton {
    display: none;
  }

  #saypi-callButton {
    position: fixed;
    bottom: 4rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 4.5rem;
    height: 4.5rem;
    border: 0;
    z-index: 80;
  }

  .lock-button {
    width: 3rem;
    height: 3rem;
    padding: 6px;
    margin-right: 1rem;
    border: 0;
    z-index: 60;
    svg path.inner {
      color: rgb(13 60 38); /* text-primary-700 */
    }
  }

  #saypi-lock-panel {
    /* unlocked by default */
    display: block;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
  }

  .unlocked #saypi-lockButton {
    display: block !important; // show the lock button when screen is unlocked
  }
  .locked #saypi-lockButton {
    display: none !important; // hide the lock button when screen is locked
  }

  .unlocked #saypi-unlockButton {
    display: none !important; // hide the unlock button when screen is unlocked
  }
  .locked #saypi-unlockButton {
    display: block !important; // show the unlock button when screen is unlocked
    position: relative; // position (but don't move) the unlock button so that z-index works while locked
    z-index: 101 !important; // above the touch absorber
  }

  .locked #saypi-touch-absorber {
    display: block !important; // show the touch absorber when screen is locked
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    /* semi-transparent background */
    background-color: rgba(245, 238, 223, 0.75);
    width: 100vw;
    height: 100svh;
    z-index: 100;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }  

  #saypi-locked-text {
    display: none; // hide the locked text when screen is unlocked
  }
  .locked #saypi-locked-text {
    display: block !important; // show the locked text when screen is locked
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 1rem;
    /* text */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: xx-large;
    font-family: 'Roboto', 'Open Sans', 'Lato', 'Source Sans Pro', 'Noto Sans', Arial, sans-serif;
    .subtext {
      display: block;
      font-size: large;
    }
  }

  /* hide the scrollbar */
  .scrollbar-gutter-both-edges {
    visibility: hidden;
  }

  /* hide any buttons in the control panel not relevant to mobile */
  .saypi-control-panel button:not(.saypi-control-button) {
    display: none;
  }

  /* override lg:hidden, making the control panel's buttons visible in immersive view on desktops */
  #saypi-control-panel-main.lg\:hidden {
    display: block;
  }
  /* override lg:flex-row-reverse, making the audio control button visible in immersive view on desktops */
  div.lg\:flex-row-reverse {
    flex-direction: unset;
  }
  /* hide the side panel in immersive mode */
  #saypi-side-panel.lg\:flex {
    display: none;
  }
  
  .saypi-control-panel button.theme-toggle-button {
    width: 4rem;
    padding: 6px;
  }

  /* hide controls in focus mode */
  .focus button {
    display: none;
  }
}
@import "dark-mode.scss";
