#saypi-notification {
  display: none; // Hide the notification by default, flexbox when active
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 47rem; // to match Pi's textarea max-width
  height: auto;
  padding: 1rem;
  background-color: rgba(228, 216, 193, 0.9); // semi-opaque background with rounded corners
  border-radius: 1rem;
  align-items: center; // Vertically center the children
  justify-content: center; // Horizontally center the children (optional)
  
  &.active {
    display: flex; // Ensure flex display is active
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    z-index: 100;
  }
  
  img.icon {
    width: 80px;
    // Remove float as it's not needed with flexbox
  }
  
  span {
    display: block;
    text-align: center;
    font-size: x-large;
    font-family: 'Roboto', 'Open Sans', 'Lato', 'Source Sans Pro', 'Noto Sans', Arial, sans-serif;
    color: #776d6d;
    padding-left: 0.5rem;
    // Additional adjustments for alignment can be made here if necessary
  }
}
