@media (max-width: 768px) {
  /* mobile styles go here */
  #control-panel,
  #saypi-panel {
    width: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(245, 238, 223, 0.9);
  }
  #control-panel {
    height: 10vh;
    bottom: 0;
  }
  #saypi-panel {
    height: 90vh;
    top: 0;
    padding: 10%;
  }
  /* make the buttons fill the panels */
  #saypi-talkButton {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
  }
  /* move audio controls (mute/unmute, voice selection) to top 
      div[data-projection-id='13'] {
        ...
      }
      /* flip voice list below audio controls 
      div[data-projection-id='14'] {
        position: relative;
        top: 325px;
      }
      */
}
