/* Gentle Pulsation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(0.6); /* Scaled down to 60% */
  }
}

#Layer_1 {
  animation: pulse 5s infinite; /* Apply animation to the SVG with ID "Layer_1" */
}
